* {
    margin: 0%;
    padding: 0%;
}

/*Header*/

header {
    padding: 2vh;
    border-bottom: 1px solid black;
}

#mainTitle {
    text-align: center;
}

#logo {
    float: left;
    flex-direction: row;
    width: 10%;
}

/*----------------------------------------------------------------------------*/

/* #leakedTitles {
    margin-top: 1%;
    display: flex;
    justify-content: space-around;
} */

#category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#addCategory{
    display: flex;
    justify-content: space-between;
}

.nameFromCategory{
    /* margin-right: 45px; */
    
    display: flex;
    justify-content: space-between;
}

.coctel {
    width: 50%;
}

.coctels:hover {
    width: 105%;
}

.arrow {
    width: 7%;
}

/* -------------------------------- */

#menu {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin-top: 25px;
    margin-bottom: 5px;
}

section {
    display: flex;
    border-top: 1px solid black;
    padding: 2vh;
}

#cardContent {
    max-height: 62vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    flex-wrap: wrap;
}

.cocktailCards, .categoryCards {
    margin: 50px;
    box-shadow: 1px 1px 20px rgb(255, 0, 0);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    flex-basis: 18%;
}

img {
    height: 100%;
    width: 100%;
}

.tittle {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(27, 27, 27, .5);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5px;
    width: 100%;
}