* {
    margin: 0%;
    padding: 0%;
}

section {
    display: flex;
    padding: 2vh;
}

#menu {
    background-color: rgb(255, 255, 255);
    padding: 20px;
}

ul {
    list-style: none;
}

li {
    margin-top: 25px;
}

#cardContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: whitesmoke;
}

.cocktailCards {
    margin: 50px;
    box-shadow: 1px 1px 20px rgb(255, 0, 0);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    width: 19%;
    height: 11%;
}

img {
    height: 100%;
    width: 100%;
}

.showCocktailName {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(27, 27, 27, .5);
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%;
}