* {
    margin: 0%;
    padding: 0%;
}

header {
    padding: 2vh;
    border-bottom: 1px solid black;
}

#mainTitle {
    text-align: center;
}

#logo {
    float: left;
    flex-direction: row;
    width: 10%;
}

#addCategory {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-right: 4%;
    margin-bottom: 1%;
}

.coctels {
    width: 5%;
}

.coctels:hover {
    width: 8%;
}

.arrow {
    width: 7%;
}


.menu2{
    margin-right: 14%;
    margin-top: 500px;
}

#menu {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

.fixed {
    position: fixed;
    top: 0;
}


ul {
    list-style: none;
    width: 200px;
    height: 10%;
}

li {
    margin-top: 25px;
    margin-bottom: 5px;
}

section {
    display: flex;
    border-top: 1px solid black;
    padding: 2vh;
}

#cardContent {
    height: 10%;
    display: flex;
    justify-content: center;
    text-align: center;
    background: whitesmoke;
    flex-wrap: wrap;
}

.cocktailCards{
    margin: 50px;
    box-shadow: 1px 1px 20px rgb(255, 0, 0);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    flex-basis: 18%;
}

img {
    height: 100%;
    width: 100%;
}

.tittle {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(27, 27, 27, .5);
    color: rgb(255, 255, 255);
    border-radius: 6px;
    padding: 5px;
    width: 100%;
}