* {
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

section {
    display: flex;
    padding: 2vh;
    margin-bottom: 2%;
}

#menu {
    padding: 20px;
}

ul {
    list-style: none;
}

#menu ul li {
    padding-top: 25px;
}

li:hover {
    cursor: pointer;
    color: aliceblue;
}

#cardContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: whitesmoke;
}

.cocktailCards {
    margin: 50px;
    box-shadow: 1px 1px 20px rgb(255, 0, 0);
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    width: 19%;

}

img {
    height: 100%;
    width: 100%;
}

.showCocktailName {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(27, 27, 27, .5);
    color: rgb(255, 255, 255);
    padding: 5px;
    width: 100%;
}

#alphabet {
    background-color: brown;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#content {
    display: flex;
    justify-content: space-around;
    padding: 1%;
}